<div class="table-responsive">
	<!-- 搜索区 -->
	<div id="_search" style="padding: 100px 100px 10px;">
		<form class="bs-example bs-example-form" role="form">
			<div class="input-group">
				<span class="input-group-addon">菜单名称</span> <input type="text"
					class="form-control" placeholder="菜单名称"> <span
					class="input-group-addon">权限码</span> <input type="text"
					class="form-control" placeholder="菜单名称">
			</div>
			<br>
			<div class="input-group">
				<div class="input-group-btn">
					<button type="button" class="btn btn-default dropdown-toggle"
						data-toggle="dropdown">
						菜单类型 <span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						<li><a href="#">根菜单</a></li>
						<li><a href="#">菜单</a></li>
						<li><a href="#">按钮</a></li>
					</ul>
				</div>
				<!-- /btn-group -->
				<input type="text" class="form-control">
			</div>
			<!-- /input-group -->
		</form>
	</div>

	<!-- 数据展示区 -->
	<div id="_dataList">
	
	</div>
</div>

<script src="/static/js/vue/vue.js"></script>