<ul class="nav nav-tabs">
	<li class="active"><a href="/menu/list">菜单列表</a></li>
	<li><a href="">菜单添加</a></li>
</ul>
<form id="listForm" method="post">
	<table id="treeTable" class="table table-striped table-bordered table-condensed hide">
		<thead>
			<tr>
				<th>名称</th>
				<th>链接</th>
				<th style="text-align: center;">排序</th>
				<th>可见</th>
				<th>权限标识</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
				<tr id="" parentId="">
					<td nowrap>
						<i class=""></i>
						<a href="">菜单名称</a>
					</td>
					<td title="">链接</td>
					<td style="text-align: center;" name="sys:menu:edit">
						<input type="hidden" name="ids" value="" />
						<input name="sorts" type="text" value="" style="width: 50px; margin: 0; padding: 0; text-align: center;">
					</td>
					<td>显示/隐藏</td>
					<td title="权限标识">权限标识</td>
					<td nowrap>
						<a href="/menu/form?id=">修改</a>
						<a href="/menu/delete?id=" onclick="return confirmx('要删除该菜单及所有子菜单项吗？', this.href)">删除</a> 
						<a href="/menu/form?parent.id=">添加下级菜单</a>
					</td>
				</tr>
		</tbody>
	</table>
</form>